.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 15px 40px;
}

.logo h2 {
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1e293b;
  color: white;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right a {
  color: white;
  text-decoration: none;
}

/* CART ICON */
.cart-icon {
  position: relative;
  font-size: 16px;
}

/* BADGE */
.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;

  background: red;
  color: white;

  font-size: 12px;
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}